<div class="ui small menu">
    <a class="active item">
        Home
    </a>
    <div class="right menu">
        <div class="item">
            <h4>{{user.email}}</h4>
        </div>
        <div class="item">
            <a href="/logout" class="ui primary button">Log Out</a>
        </div>
    </div>
</div>