* {
	box-sizing: border-box;
}

/* body {
	background-color: #f8f9fa;
} */

.btn-outline-secondary {
	padding: 5px;
	margin: 15px;
}

/* .bg-light {
    font-weight: 600;
    background-color: #e9ecef;
    
} */

/* Centered text */
.centered {
	position: absolute;
	top: 60%;
	left: 35%;
	transform: translate(-50%, -50%);
	color: whitesmoke;
	font-size: 30px;
	font-family: 'Courier New', Courier, monospace;

	/* align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1; */
}

/* Top left text */
/* .top-left {
	position: absolute;
	top: 180px;
	left: 130px;
	transform: translate(-50%, -50%);
	color: whitesmoke;
	font-size: 15px;
	font-family: 'Courier New', Courier, monospace;
} */

/* Top right text */
/* .top-right {
	position: absolute;
	top: 8px;
	right: 16px;
} */
